<br>

<header>
  <nav class="navbar  navbar-fixed-bottom navbar-light bg-light ">
    <label class="navbar-brand"> Luxuryhouse</label>
      <ul class="nav navbar-expand-lg navbar-light bg-light">
        <li class="nav-item active">
          <a  href="casa1.html">Comprar tokens </a>
        </li>
        <li class="nav-item">
          <a  href="#ubicación">Ubicación</a>
        </li>
        <li class="nav-item">
          <a  href="#ofertas">Nuestras ofertas</a>
        </li>
      </ul>
      <span class="navbartoggler">
        <i class="fa fa-bars"></i>

      </span>
  </nav>
  <!-- etiquetas encabezado -->
  <div class="cover d-flex justify-content-center align-items-center flex-column">
    <h1>
      Participa en nuestro proyecto
    </h1>

    <p>
      Las mejores casas de Ibiza
    </p>
    <form>
      <a href="Sabermassobrenosotros.html" class="btn btn-dark"> Saber mas sobre nosotros</a>
    </form>
    <!-- pequeñas etiquetas con sus respectivas fotos -->

  </div>
 </header>

<section>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <!-- comando para que se quede bien el tamaño -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2 ">

                <div class="card">
                    <div title="vivienda de lujo con piscina" class="cover cover-small"
                        style="background-image: url(rsz_john-fornander-tvzydsv84w8-unsplash.jpg);">

                    </div>
                    <img src="images/rsz_john-fornander-tvzydsv84w8-unsplash.jpg" class="card-img-top"
                        alt="imagen de una casa ">
                    <div class="card-body">
                        <h5 class="card-title">Mejores playas del mundo</h5>
                        <p class="card-text">Se trata de uno de los lugares mas visitados en todo el mundo durante el
                            verano.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2 ">
                <div class="card">
                    <div title="vivienda de lujo " class="cover cover-small"
                        style="background-image: url(images/rsz_florian-schmidinger-b_79noqf95i-unsplash.jpg);">

                    </div>
                    <img src=" images/rsz_florian-schmidinger-b_79noqf95i-unsplash.jpg" class="card-img-top"
                        alt="imagen de una casa ">
                    <div class="card-body">
                        <h5 class="card-title">Viviendas únicas</h5>
                        <p class="card-text">Casas inmejorables con donde podrás invertir tu dinero y obtener grandes
                            rentabilidades.</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2 ">
                <div class="card">
                    <div title="vivienda de lujo con gran jardin" class="cover cover-small"
                        style="background-image: url(rsz_bartlomiej-balicki-7icyxbgi9qk-unsplash.jpg);">

                    </div>
                    <img src="images/rsz_bartlomiej-balicki-7icyxbgi9qk-unsplash.jpg" class="card-img-top"
                        alt="imagen de una casa ">
                    <div class="card-body">
                        <h5 class="card-title">¿No quieres tener una parte de esta casa?</h5>
                        <p class="card-text">Compra el porcentaje de casa que quieras y obtener beneficios mensualmente.
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-5">
                <img src="images/criptomonedas (2).png" alt=" imagen de una criptomoneda">
            </div>
            <div class="col-12 col-sm-6">
                <h3>
                    invierte en nuestra criptomoneda y serás propietario de una casa de lujo en ibiza
                </h3>
                <p>las oportinidades son limitades asi que date prisa</p>
                <a href="#ofertas">Ver ofertas</a>

            </div>

        </div>

    </div>
</section>

<section>
    <div class="container mt-5 mb-5 " id="ofertas">
        <div class="product-stripe">
            <div class="stripe-container">
                <div class="card">
                    <div title="vivienda de lujo con gran jardin" class="cover cover-small"
                        style="background-image: url(images/rsz_bartlomiej-balicki-7icyxbgi9qk-unsplash.jpg);">

                        <!-- primera casa cuadrada con piscina -->
                    </div>
                    <img src="images/avi-werde-hHz4yrvxwlA-unsplash.jpg" class="card-img-top" alt="imagen de una casa ">
                    <div>
                        <div class="card-body">
                            <h5 class="card-title">Casa moderna perdida en el monte</h5>
                            <p class="card-text">aportación minima de 500$.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                            <div>
                                <a class="buy-with-crypto" href="https://commerce.coinbase.com/checkout/3f092573-c04f-473c-be82-968ac374ce3b">
                                    Buy with Crypto
                                </a>
                                <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
                                </script>
                                <button type="button" class="btn btn-secondary"
                                    onclick="window.open('https://buy.stripe.com/test_fZe03zdFu28Wa2saEF')">comprar visa</button>
                            </div>
                    </div>
                </div>
                <div class="card">
                    <div title="vivienda de lujo con gran jardin" class="cover cover-small"
                        style="background-image: url(rsz_bartlomiej-balicki-7icyxbgi9qk-unsplash.jpg);">

                        <!-- casa mas rustica  -->

                    </div>
                    <img src="images/stephen-leonardi-XKIO6ZgCObo-unsplash.jpg" class="card-img-top" alt="imagen de una casa ">
                    <div>
                        <div class="card-body">
                            <h5 class="card-title">Casa moderna perdida en el monte</h5>
                            <p class="card-text">aportación minima de 500$.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                        <div>
                            <a class="buy-with-crypto" href="https://commerce.coinbase.com/checkout/3f092573-c04f-473c-be82-968ac374ce3b">
                                Buy with Crypto
                            </a>
                            <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
                            </script>
                            <button type="button" class="btn btn-secondary"
                                onclick="window.open('https://buy.stripe.com/test_fZe03zdFu28Wa2saEF')">comprar visa</button>
                        </div>
                    
                    </div>
                    </div>
                    <div class="card">
                        <div title="vivienda de lujo con gran jardin" class="cover cover-small"
                            style="background-image: url(rsz_bartlomiej-balicki-7icyxbgi9qk-unsplash.jpg);">
                    
                            <!-- casa en el bosque -->

                    </div>
                    <img src="images/r-architecture-2gDwlIim3Uw-unsplash.jpg" class="card-img-top" alt="imagen de una casa ">
                    <div>
                        <div class="card-body">
                            <h5 class="card-title">Casa moderna perdida en el monte</h5>
                            <p class="card-text">aportación minima de 500$.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                        <div>
                            <a class="buy-with-crypto" href="https://commerce.coinbase.com/checkout/3f092573-c04f-473c-be82-968ac374ce3b">
                                Buy with Crypto
                            </a>
                            <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
                            </script>
                            <button type="button" class="btn btn-secondary"
                                onclick="window.open('https://buy.stripe.com/test_fZe03zdFu28Wa2saEF')">comprar visa</button>
                        </div>
                    
                    </div>
                    </div>
                    <div class="card">
                        <div title="vivienda de lujo con gran jardin" class="cover cover-small"
                            style="background-image: url(rsz_bartlomiej-balicki-7icyxbgi9qk-unsplash.jpg);">
                    
                            <!-- casa iluminada -->

                    </div>
                    <img src="images/ralph-ravi-kayden-mR1CIDduGLc-unsplash.jpg" class="card-img-top" alt="imagen de una casa ">
                    <div>
                        <div class="card-body">
                            <h5 class="card-title">Casa moderna perdida en el monte</h5>
                            <p class="card-text">aportación minima de 500$.</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                        <div>
                            <a class="buy-with-crypto" href="https://commerce.coinbase.com/checkout/3f092573-c04f-473c-be82-968ac374ce3b">
                                Buy with Crypto
                            </a>
                            <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
                            </script>
                            <button type="button" class="btn btn-secondary"
                                onclick="window.open('https://buy.stripe.com/test_fZe03zdFu28Wa2saEF')">comprar visa</button>
                        </div>
                        <div>
  <a class="buy-with-crypto"
     href="https://commerce.coinbase.com/checkout/8802e6dd-15ac-4e72-bc5f-0b09854d61de">
    Buy with Crypto
  </a>
  <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
</div>
                        
                    
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </section>

<section>
    <div class="container mt-5 mb-5 text-center" id="ubicación">
        <h3>
            Nos localizamos aquí
        </h3>
        <p>
            Calle Playa d'en Bossa, S/N, 07817 Sant Jordi de ses Salines, Illes Balears
        </p>
        <!-- para poner la localizacion de nuestra empresa -->
        <div class="responsive-iframe">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198514.38269413004!2d1.2773010028632525!3d38.97452613905931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1299476385093943%3A0x9064725cd8426d6!2sIbiza!5e0!3m2!1ses!2ses!4v1625073343076!5m2!1ses!2ses"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>

    </div>
</section>

<footer id="contacto">
    <div class="contenedor footer-content ">
        <div class="contact-us">
            <h2 class="brand ">Shouse.SL</h2>
            <p>somos expertos en la gestion de viviendas de lujo</p>
        </div>
        <div class="social-media">
            <a href="/" class="social-media-icon">
                <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYBJREFUSEvNlU0uRFEQhb/egaEZNuBnAYIVaDtgB3aAqYlYAVaAiWljZIaYShiYYwXkk1vy+uZ67/bgpVVy093v3apTdarq9ICebdBzfKYGMA/sAcvptBX6AHiO0+fY3VIF28BJunUDfJQc03sTmAHW0u8d4LSJkAPocA8YeJiC17TJii+AJWClmVAOILqBdTDzLpsFroA74BB4Ac4AWfixHOAV8KwXIgtshpqcXwKrwC3wBCwC18AcsPAXwFdq1m4DQI5HhWYbbCs9fwbeEoD9+E08r0CAA2C/AWC2UmbZ8qxZjXTar43GXUEnAjDQeco0gke8mDariHcTA1iJ+1AaZ6l7zyr+fwC9UxQj6ejJuaOp+f0IeMxGuooiNSUfUx1jB6LJpW3vBOhaNKUkqsqnyucCONKe4iY725tpE2ukornwBu2UihA7M1EZrajGDO6+6N8qdtHAkGuB2uQ6NCs+O+U6sjUTG62jE9Rmn4l7l1JZGbOp/WXW8F51p/cKvgFA62cZOZHnegAAAABJRU5ErkJggg==" />
            </a>
            <a href="/" class="social-media-icon">
                <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAL1JREFUSEvtlIEJwjAQRV836AY6ghtUJ9EROoJOoCO4ghvoBDqCbuAGlQ8JHGo9UhJUaKBw0Ob/+4+7VhQ+VWF9fs5gCmyBGaBa5wTM+0ikJJDgGaifxLIZ7IHlm06zGRyBJhgcgBVw94YkBVFnxDbA2hPX+68bCMMkdGo7Fi49cYpi/RLKS2C59xH5iCuHwcKkSU6wC0uli3GCVN+Aa1BrgUuORfvPKbLJxwTu4o+IXESDPvB+FYNE7aXiBg+0MykZNmDKCAAAAABJRU5ErkJggg==" />
            </a>
            <a href="/" class="social-media-icon">
                <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUdJREFUSEvdleExBEEQhb+LgAzIABEgAkTgRIAIEAEhyAARkAGXAREgAuq7mrmanZuZ29uq/XNTdX92ut/r97qnb8LIZzIyPptHsA38rLDNmEvgFNgHPoFH4C7k+f05YuQWGWzAR4PkDTgs3Jsj4TXwUCLw8j0oOAMEyk+MqfFLMgsE8yJzBX9JplUoO7VMdU8Ndb/BgUVxOYHenWQAfvOnfQfAfYPgJRAsQlICm7cbwHYGvg8V36a5OcH3QOCY1mlwqQfaMLR68bSwM4F5D5wSG7Q1QMlXsLiTWloVTsp53qwehEv2lCzy2xHw2gMwDbF61S9tgdqycxJu1iA5rjzM5jZ1bH1s2tU6F2EXFWNqCrQpLrQauK/2qgWe90BQK97rYY0vVnDHunlKCqah0TYtkrnAbGC6NlZhz+837x+tl+x1gka36B/CnzgZFPaBJAAAAABJRU5ErkJggg==" />
            </a>

        </div>
    </div>

</footer>




<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<script src="menu.js"></script>
